Acceso a las bases de datos (datos por rangos de edad, corte 9 de noviembre de 2023): 
https://www.ine.mx/transparencia/datos-abiertos/#/archivo/datos-por-rangos-de-edad-entidad-de-origen-y-sexo-del-padron-electoral-y-lista-nominal-2023

In [1]:
#pip install googlemaps

In [2]:
import pandas as pd

In [3]:
# Configuración vara visualizar todas las columnas
pd.set_option('display.max_columns', None)

In [4]:
# Carga del dataset
df = pd.read_excel("DatosAbiertos-derfe-pdln_edms_re_20231109.xlsx")

In [5]:
# Limpieza de columnas que no se usarán
columns_to_drop = ['CLAVE\nDISTRITO', 'NOMBRE\nDISTRITO', 'SECCION',
       'PADRON\nHOMBRES', 'PADRON\nMUJERES',
       'PADRON\nNO BINARIO', 'PADRON\nELECTORAL',
       'LISTA\nHOMBRES', 'LISTA\nMUJERES', 'LISTA\nNO BINARIO',
       'PADRON_18_HOMBRES', 'PADRON_18_MUJERES', 'PADRON_18_NOBINARIO',
       'PADRON_19_HOMBRES', 'PADRON_19_MUJERES', 'PADRON_19_NOBINARIO',
       'PADRON_20_24_HOMBRES', 'PADRON_20_24_MUJERES',
       'PADRON_20_24_NOBINARIO', 'PADRON_25_29_HOMBRES',
       'PADRON_25_29_MUJERES', 'PADRON_25_29_NOBINARIO',
       'PADRON_30_34_HOMBRES', 'PADRON_30_34_MUJERES',
       'PADRON_30_34_NOBINARIO','PADRON_35_39_HOMBRES', 
       'PADRON_35_39_MUJERES', 'PADRON_35_39_NOBINARIO', 'PADRON_40_44_HOMBRES',
       'PADRON_40_44_MUJERES', 'PADRON_40_44_NOBINARIO',
       'PADRON_45_49_HOMBRES', 'PADRON_45_49_MUJERES',
       'PADRON_45_49_NOBINARIO', 'PADRON_50_54_HOMBRES',
       'PADRON_50_54_MUJERES', 'PADRON_50_54_NOBINARIO',
       'PADRON_55_59_HOMBRES', 'PADRON_55_59_MUJERES',
       'PADRON_55_59_NOBINARIO', 'PADRON_60_64_HOMBRES',
       'PADRON_60_64_MUJERES', 'PADRON_60_64_NOBINARIO',
       'PADRON_65_Y_MAS_HOMBRES', 'PADRON_65_Y_MAS_MUJERES',
       'PADRON_65_Y_MAS_NOBINARIO', 'LISTA_30_34_HOMBRES', 'LISTA_30_34_MUJERES',
       'LISTA_30_34_NOBINARIO','LISTA_35_39_HOMBRES', 'LISTA_35_39_MUJERES',
       'LISTA_35_39_NOBINARIO', 'LISTA_40_44_HOMBRES', 'LISTA_40_44_MUJERES',
       'LISTA_40_44_NOBINARIO', 'LISTA_45_49_HOMBRES', 'LISTA_45_49_MUJERES',
       'LISTA_45_49_NOBINARIO', 'LISTA_50_54_HOMBRES', 'LISTA_50_54_MUJERES',
       'LISTA_50_54_NOBINARIO', 'LISTA_55_59_HOMBRES', 'LISTA_55_59_MUJERES',
       'LISTA_55_59_NOBINARIO', 'LISTA_60_64_HOMBRES', 'LISTA_60_64_MUJERES',
       'LISTA_60_64_NOBINARIO', 'LISTA_65_Y_MAS_HOMBRES',
       'LISTA_65_Y_MAS_MUJERES', 'LISTA_65_Y_MAS_NOBINARIO'
]

df.drop(columns=columns_to_drop, inplace=True)

In [6]:
# Revisión de nulos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70784 entries, 0 to 70783
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CLAVE
ENTIDAD          70784 non-null  object
 1   NOMBRE
ENTIDAD         70783 non-null  object
 2   CLAVE
MUNICIPIO        70783 non-null  float64
 3   NOMBRE
MUNICIPIO       70783 non-null  object
 4   LISTA
NOMINAL          70784 non-null  int64
 5   LISTA_18_HOMBRES       70783 non-null  float64
 6   LISTA_18_MUJERES       70783 non-null  float64
 7   LISTA_18_NOBINARIO     70783 non-null  float64
 8   LISTA_19_HOMBRES       70783 non-null  float64
 9   LISTA_19_MUJERES       70783 non-null  float64
 10  LISTA_19_NOBINARIO     70783 non-null  float64
 11  LISTA_20_24_HOMBRES    70783 non-null  float64
 12  LISTA_20_24_MUJERES    70783 non-null  float64
 13  LISTA_20_24_NOBINARIO  70783 non-null  float64
 14  LISTA_25_29_HOMBRES    70783 non-null  float64
 15  LISTA_25_29_MUJERES    70783 non-null  float64
 16  LISTA_25_29_NOBINARIO  70783 non-null  float64
dtypes: float64(13), int64(1), object(3)
memory usage: 9.2+ MB

In [7]:
# Verificación de unidad en redacción de 'NOMBRE\nENTIDAD'
unique_entidades = df['NOMBRE\nENTIDAD'].unique()
print(len(unique_entidades))
print(unique_entidades)

34
['RESIDENTES EXTRANJERO' 'AGUASCALIENTES' 'BAJA CALIFORNIA'
 'BAJA CALIFORNIA SUR' 'CAMPECHE' 'COAHUILA DE ZARAGOZA' 'COLIMA'
 'CHIAPAS' 'CHIHUAHUA' 'CIUDAD DE MEXICO' 'DURANGO' 'GUANAJUATO'
 'GUERRERO' 'HIDALGO' 'JALISCO' 'MEXICO' 'MICHOACAN  DE OCAMPO' 'MORELOS'
 'NAYARIT' 'NUEVO LEON' 'OAXACA' 'PUEBLA' 'QUERETARO' 'QUINTANA ROO'
 'SAN LUIS POTOSI' 'SINALOA' 'SONORA' 'TABASCO' 'TAMAULIPAS' 'TLAXCALA'
 'VERACRUZ DE IGNACIO DE LA LLAVE' 'YUCATAN' 'ZACATECAS' nan]

In [8]:
# Filtro por estado de 'JALISCO'
df_jalisco = df[df['NOMBRE\nENTIDAD'] == 'JALISCO']

In [9]:
# Verificación de unidad en redacción de 'NOMBRE\nMUNICIPIO'
unique_entidades = df_jalisco['NOMBRE\nMUNICIPIO'].unique()
print(len(unique_entidades))
print(unique_entidades)

125
['AHUALULCO DE MERCADO' 'AMATITAN' 'AMECA' 'SAN JUANITO DE ESCOBEDO'
 'EL ARENAL' 'BOLAÐOS' 'COLOTLAN' 'CHIMALTITAN' 'ETZATLAN'
 'HOSTOTIPAQUILLO' 'HUEJUCAR' 'HUEJUQUILLA EL ALTO' 'MAGDALENA'
 'MEZQUITIC' 'SAN CRISTOBAL DE LA BARRANCA' 'SAN MARCOS'
 'SAN MARTIN DE BOLAÐOS' 'SANTA MARIA DE LOS ANGELES' 'TALA' 'TEQUILA'
 'TEUCHITLAN' 'TOTATICHE' 'VILLA GUERRERO' 'ENCARNACION DE DIAZ'
 'LAGOS DE MORENO' 'OJUELOS DE JALISCO' 'SAN JUAN DE LOS LAGOS'
 'TEOCALTICHE' 'UNION DE SAN ANTONIO' 'VILLA HIDALGO' 'ACATIC' 'CUQUIO'
 'IXTLAHUACAN DEL RIO' 'JUANACATLAN' 'MEXTICACAN' 'TEPATITLAN DE MORELOS'
 'TOTOTLAN' 'VALLE DE GUADALUPE' 'CAÐADAS DE OBREGON'
 'YAHUALICA DE GONZALEZ GALLO' 'ZAPOTLAN DEL REY' 'ZAPOTLANEJO'
 'SAN IGNACIO CERRO GORDO' 'ZAPOPAN' 'ATENGO' 'ATENGUILLO'
 'CABO CORRIENTES' 'CUAUTLA' 'GUACHINANGO' 'MASCOTA' 'MIXTLAN'
 'PUERTO VALLARTA' 'SAN SEBASTIAN DEL OESTE' 'TALPA DE ALLENDE' 'TOMATLAN'
 'TONALA' 'GUADALAJARA' 'TLAJOMULCO DE ZUÐIGA' 'SAN PEDRO TLAQUEPAQUE'
 'ARANDAS' 'ATOTONILCO EL ALTO' 'AYOTLAN' 'LA BARCA' 'DEGOLLADO'
 'JALOSTOTITLAN' 'JAMAY' 'JESUS MARIA' 'SAN DIEGO DE ALEJANDRIA'
 'SAN JULIAN' 'SAN MIGUEL EL ALTO' 'ACATLAN DE JUAREZ' 'CHAPALA'
 'IXTLAHUACAN DE LOS MEMBRILLOS' 'JOCOTEPEC' 'OCOTLAN' 'PONCITLAN'
 'TECHALUTA DE MONTENEGRO' 'VILLA CORONA' 'ZACOALCO DE TORRES' 'AMACUECA'
 'ATEMAJAC DE BRIZUELA' 'AUTLAN DE NAVARRO' 'AYUTLA' 'CASIMIRO CASTILLO'
 'CIHUATLAN' 'SAN GABRIEL' 'COCULA' 'CUAUTITLAN DE GARCIA BARRAGAN'
 'CHIQUILISTLAN' 'EJUTLA' 'EL GRULLO' 'LA HUERTA' 'JUCHITLAN' 'EL LIMON'
 'VILLA PURIFICACION' 'SAN MARTIN HIDALGO' 'TAPALPA' 'TECOLOTLAN'
 'TENAMAXTLAN' 'TOLIMAN' 'TONAYA' 'TUXCACUESCO' 'UNION DE TULA'
 'ZAPOTITLAN DE VADILLO' 'ATOYAC' 'ZAPOTLAN EL GRANDE'
 'CONCEPCION DE BUENOS AIRES' 'GOMEZ FARIAS' 'JILOTLAN DE LOS DOLORES'
 'SANTA MARIA DEL ORO' 'LA MANZANILLA DE LA PAZ' 'MAZAMITLA' 'PIHUAMO'
 'QUITUPAN' 'SAYULA' 'TAMAZULA DE GORDIANO' 'TECALITLAN'
 'TEOCUITATLAN DE CORONA' 'TIZAPAN EL ALTO' 'TONILA' 'TUXCUECA' 'TUXPAN'
 'VALLE DE JUAREZ' 'ZAPOTILTIC' 'EL SALTO']

In [10]:
# Agrupación por municipio, sumando las columnas de listas divididas por edad y género
columns_to_sum = [
    'LISTA\nNOMINAL', 'LISTA_18_HOMBRES', 'LISTA_18_MUJERES', 'LISTA_18_NOBINARIO',
    'LISTA_19_HOMBRES', 'LISTA_19_MUJERES', 'LISTA_19_NOBINARIO',
    'LISTA_20_24_HOMBRES', 'LISTA_20_24_MUJERES', 'LISTA_20_24_NOBINARIO',
    'LISTA_25_29_HOMBRES', 'LISTA_25_29_MUJERES', 'LISTA_25_29_NOBINARIO'
]

grouped_data = df_jalisco.groupby('NOMBRE\nMUNICIPIO')[columns_to_sum].sum()
df_municipios_jal = grouped_data

In [11]:
# Creación de columnas totales, divididas por género
columns_to_sum = [
    'LISTA_18_HOMBRES', 'LISTA_19_HOMBRES', 
    'LISTA_20_24_HOMBRES', 'LISTA_25_29_HOMBRES'
]

df_municipios_jal['LISTA_HOMBRES_TOTAL'] = df_municipios_jal[columns_to_sum].sum(axis=1)

columns_to_sum = [
    'LISTA_18_MUJERES', 'LISTA_19_MUJERES', 
    'LISTA_20_24_MUJERES', 'LISTA_25_29_MUJERES'
]

df_municipios_jal['LISTA_MUJERES_TOTAL'] = df_municipios_jal[columns_to_sum].sum(axis=1)

columns_to_sum = [
    'LISTA_18_NOBINARIO', 'LISTA_19_NOBINARIO', 
    'LISTA_20_24_NOBINARIO', 'LISTA_25_29_NOBINARIO'
]

df_municipios_jal['LISTA_NOBINARIO_TOTAL'] = df_municipios_jal[columns_to_sum].sum(axis=1)

In [12]:
# Creación de columna total, rango de edad 18-29
columns_to_sum = [
    'LISTA_NOBINARIO_TOTAL', 'LISTA_MUJERES_TOTAL', 'LISTA_HOMBRES_TOTAL'
]

df_municipios_jal['TOTAL_18_29'] = df_municipios_jal[columns_to_sum].sum(axis=1)

In [13]:
# Conversión columnas tipo float a integer para prevenir mal funcionamiento
df_municipios_jal.fillna(0, inplace=True)
columns_to_convert = [
        'LISTA\nNOMINAL', 'TOTAL_18_29', 'LISTA_NOBINARIO_TOTAL',
       'LISTA_HOMBRES_TOTAL', 'LISTA_MUJERES_TOTAL', 'LISTA_18_HOMBRES',
       'LISTA_18_MUJERES', 'LISTA_18_NOBINARIO', 'LISTA_19_HOMBRES',
       'LISTA_19_MUJERES', 'LISTA_19_NOBINARIO', 'LISTA_20_24_HOMBRES',
       'LISTA_20_24_MUJERES', 'LISTA_20_24_NOBINARIO', 'LISTA_25_29_HOMBRES',
       'LISTA_25_29_MUJERES', 'LISTA_25_29_NOBINARIO'
]

df_municipios_jal[columns_to_convert] = df_municipios_jal[columns_to_convert].astype(int)

In [17]:
# Modificación columna municipios para que sea rastreable geográficamente
df_municipios_jal["MUNICIPIO"] = df_municipios_jal.index
df_municipios_jal["MUNICIPIO"] = df_municipios_jal["MUNICIPIO"].apply(lambda x: x + ", JALISCO, MEXICO")

In [18]:
# Creación de columnas de latitud y longitud para su manejo en Power BI

# Obtenga la clave de API de Google Maps
gmaps = googlemaps.Client(key="")


# Itere sobre los municipios
for municipio in df_municipios_jal["MUNICIPIO"]:

    # Geocodifique el municipio
    result = gmaps.geocode(municipio)

    # Obtenga las coordenadas geográficas
    lat = result[0].get("geometry").get("location").get("lat")
    lng = result[0].get("geometry").get("location").get("lng")

    # Agregue las coordenadas geográficas al DataFrame
    df_municipios_jal.loc[df_municipios_jal["MUNICIPIO"] == municipio, "LATITUD"] = lat
    df_municipios_jal.loc[df_municipios_jal["MUNICIPIO"] == municipio, "LONGITUD"] = lng

In [19]:
# Reordenación de columnas
nuevo_orden = [
    'MUNICIPIO', 'LATITUD', 'LONGITUD',
    'LISTA\nNOMINAL', 'TOTAL_18_29', 'LISTA_NOBINARIO_TOTAL', 
    'LISTA_HOMBRES_TOTAL', 'LISTA_MUJERES_TOTAL', 
    'LISTA_18_HOMBRES', 'LISTA_18_MUJERES',
    'LISTA_18_NOBINARIO', 'LISTA_19_HOMBRES', 'LISTA_19_MUJERES',
    'LISTA_19_NOBINARIO', 'LISTA_20_24_HOMBRES', 'LISTA_20_24_MUJERES',
    'LISTA_20_24_NOBINARIO', 'LISTA_25_29_HOMBRES', 'LISTA_25_29_MUJERES',
    'LISTA_25_29_NOBINARIO'
]

df_municipios_jal = df_municipios_jal.reindex(columns=nuevo_orden)

In [15]:
# Reemplazar 'BOLAÐOS' por 'BOLANIOS' en las columnas específicas
df_municipios_jal['NOMBRE\nMUNICIPIO'] = df_municipios_jal['NOMBRE\nMUNICIPIO'].str.replace('BOLAÐOS', 'BOLANIOS')
df_municipios_jal['MUNICIPIO'] = df_municipios_jal['MUNICIPIO'].str.replace('BOLAÐOS, JALISCO, MEXICO', 'BOLANIOS JALISCO, MEXICO')

df_municipios_jal['NOMBRE\nMUNICIPIO'] = df_municipios_jal['NOMBRE\nMUNICIPIO'].str.replace('ZAPOTLAN EL GRANDE', 'CIUDAD GUZMAN')
df_municipios_jal['MUNICIPIO'] = df_municipios_jal['MUNICIPIO'].str.replace('ZAPOTLAN EL GRANDE, JALISCO, MEXICO', 'CIUDAD GUZMAN, JALISCO, MEXICO')

df_municipios_jal['NOMBRE\nMUNICIPIO'] = df_municipios_jal['NOMBRE\nMUNICIPIO'].str.replace('TLAJOMULCO DE ZUÐIGA', 'TLAJOMULCO DE ZUNIGA')
df_municipios_jal['MUNICIPIO'] = df_municipios_jal['MUNICIPIO'].str.replace('TLAJOMULCO DE ZUÐIGA, JALISCO, MEXICO', 'TLAJOMULCO DE ZUNIGA, JALISCO, MEXICO')

df_municipios_jal['NOMBRE\nMUNICIPIO'] = df_municipios_jal['NOMBRE\nMUNICIPIO'].str.replace('CAÐADAS DE OBREGON', 'CANIADAS DE OBREGON')
df_municipios_jal['MUNICIPIO'] = df_municipios_jal['MUNICIPIO'].str.replace('CAÐADAS DE OBREGON, JALISCO, MEXICO', 'CANIADAS DE OBREGON, JALISCO, MEXICO')

---

---

In [4]:
# Dataset resultante
df_municipios_jal

,NOMBRE\nMUNICIPIO,MUNICIPIO,LATITUD,LONGITUD,LISTA\nNOMINAL,TOTAL_18_29,LISTA_NOBINARIO_TOTAL,LISTA_HOMBRES_TOTAL,LISTA_MUJERES_TOTAL,LISTA_18_HOMBRES,...,LISTA_18_NOBINARIO,LISTA_19_HOMBRES,LISTA_19_MUJERES,LISTA_19_NOBINARIO,LISTA_20_24_HOMBRES,LISTA_20_24_MUJERES,LISTA_20_24_NOBINARIO,LISTA_25_29_HOMBRES,LISTA_25_29_MUJERES,LISTA_25_29_NOBINARIO
0,ACATIC,"ACATIC, JALISCO, MEXICO",20.794997,-102.912616,18004,4907,0,2451,2456,166,...,0,196,200,0,1094,1063,0,995,1011,0
1,ACATLAN DE JUAREZ,"ACATLAN DE JUAREZ, JALISCO, MEXICO",20.421610,-103.592866,18640,5210,0,2637,2573,123,...,0,232,220,0,1136,1088,0,1146,1120,0
2,AHUALULCO DE MERCADO,"AHUALULCO DE MERCADO, JALISCO, MEXICO",20.699890,-103.975315,18706,4819,0,2417,2402,135,...,0,176,172,0,1057,1079,0,1049,1018,0
3,AMACUECA,"AMACUECA, JALISCO, MEXICO",20.011178,-103.600345,4828,1154,0,573,581,35,...,0,35,46,0,261,254,0,242,243,0
4,AMATITAN,"AMATITAN, JALISCO, MEXICO",20.836454,-103.731813,12694,3684,0,1803,1881,135,...,0,173,159,0,782,811,0,713,783,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,ZAPOTILTIC,"ZAPOTILTIC, JALISCO, MEXICO",19.630024,-103.419390,27586,6895,0,3450,3445,209,...,0,300,299,0,1468,1517,0,1473,1391,0
121,ZAPOTITLAN DE VADILLO,"ZAPOTITLAN DE VADILLO, JALISCO, MEXICO",19.548208,-103.812348,5468,1514,0,763,751,32,...,0,52,67,0,343,331,0,336,307,0
122,ZAPOTLAN DEL REY,"ZAPOTLAN DEL REY, JALISCO, MEXICO",20.466092,-102.924774,15313,3871,0,1972,1899,120,...,0,145,152,0,858,829,0,849,801,0
123,ZAPOTLAN EL GRANDE,"ZAPOTLAN EL GRANDE, JALISCO, MEXICO",19.703611,-103.464722,92668,24042,0,12251,11791,838,...,0,1035,980,0,5216,5143,0,5162,4879,0
124,ZAPOTLANEJO,"ZAPOTLANEJO, JALISCO, MEXICO",20.620183,-103.067383,60276,16295,0,8035,8260,499,...,0,604,674,0,3559,3588,0,3373,3515,0

In [21]:
#df_municipios_jal.to_csv("df_municipios_jal.csv")